/* NAVBAR */
.nav-style {

    padding: 15px 0;
    backdrop-filter: blur(10px);
}

.nav-style .navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 1.7;
    font-size: 1.3rem;
}


.nav-style .nav-link {
    color: white !important;
    margin-left: 14px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-style .nav-link:hover,
.nav-style .nav-link.active {
    color: #8ce89a !important;
}
/* box design */
.box-style{

    background-color:rgba(248, 244, 244, 0.6);
    padding:20px;
    border-radius:15px;
    margin-bottom: 20px;
    margin-top:20px;
}
/* h1 */
.container h1{
    position: relative;
    color:rgba(255, 255, 255, 0.8);
    text-align: left;
    font-weight: 800;
    font-size: clamp(3rem, 7vw, 5.5rem);    
}
.container h1 p{
    color:#8ce89acf;
}
.container .desc{
    max-width: 650px;

    color: #e0f4e5;

    font-size: 1.1rem;

    margin-bottom: 30px;
}
.container h1 span{
    color:#3beb5b82;
}

/* background */
body {
    background:linear-gradient(
            180deg,
            rgba(3, 42, 25, 0.93),
            rgba(3, 42, 25, 0.65),
            rgba(3, 42, 25, 0.25)
        );
    background-attachment: fixed;
    margin-top:100px;
    font-family: 'Poppins', sans-serif;
}
.gallery-page{
    background:linear-gradient(
            70deg,
            rgba(3, 42, 25, 0.93),
            rgba(3, 42, 25, 0.65),
            rgba(3, 42, 25, 0.25)
        );
    background-attachment: fixed;
    margin-top:100px;
    font-family: 'Poppins', sans-serif;
}

/* reegister style */
.reg-style{
    background:linear-gradient(
        135deg,
        rgb(2, 46, 1),
        rgb(0, 84, 32),
        rgb(56, 138, 82)
    );
}
.reg-style .card-header{
    color:white;
    font-weight: 800;
    font-size:200%;
}

.reg-style .btn{
    margin-left: 25%;
    border-radius: 50px;
    padding: 100px 20px;
    background-color:#a4a4a49f;
    transition:0.4s ;
}
.reg-style .btn:hover{
    background-color: #a2ec93;
    transform: translateY(-3px);
    
}


/* image */
.cardG {
    border-radius: 28px;
    overflow: hidden;
    position: relative;
    box-shadow:
        0 20px 50px rgba(0, 60, 30, 0.12);
}
.cardG img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.cardG img:hover{
    transform:scale(1.05);
}



/* footer */
.footer {
    background: #052719;
    color: white;
    padding: 50px 0;
}

.footer h5 {
    font-weight: 700;
}

.footer h5 i {
    color: #8ce89a;
}

.footer p {
    color: #a7c7b0;
    margin-bottom: 5px;
}

footer {
    margin-top: auto;
}

.card hr {
    border-top: 1px solid #dee2e6;
}

.footer-link {
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: #198754 !important;
}


@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: rgba(248, 244, 244, 0.792);
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        padding: 15px 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar-nav .nav-link {
        color: #080808 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #505050;
    }

    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: #030303 !important;
        font-weight: bold;
    }
}
